.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 60px;
}

.kids_img {
    flex: 1;
    padding: 30px;
    max-width: 100%;
}

.category .description h2 {
    font-size: 50px; 
    font-weight: bold; 
    margin-bottom: 10px; 
  
}
.category .description p {
    font-size: 24px;
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 20px; 
  }

.gray {
    margin-top: auto; 
    width: 100%;
    height: 7px;
    background-color: rgb(37, 37, 37);

}